*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  	font-family: 'Poppins', sans-serif;
    }
    main 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: #1c1c1c;
    }
.table 
{
	position: relative;
	width: 300px;
	margin-top: 35px;
}
.table input
{
	position: relative;
    border : none;  
	width: 100%;
	padding: 20px 10px 10px;
    border-bottom: 1px solid #45f3ff;
	font-size: 1em;
    background-color: #28292d;
	letter-spacing: 0.05em;
}
    .container 
    {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 400px;
        height: fit-content;
        border-radius: 8px;
        overflow: hidden;
        scale: 1;
    }
    .container::before 
    {
        content: "";
        z-index: -1;
        position: absolute;
        top: -60%;
        left: -30%;
        width: 250px;
        height: 350px;
        transform-origin: bottom right;
        background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
        animation: animate 6s linear infinite;
    }
    .container::after 
    {
        content: "";
        z-index: -1;
        position: absolute;
        top: -60%;
        left: -30%;
        width: 250px;
        height: 350px;
        transform-origin: bottom right;
        background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
        animation: animate 6s linear infinite;
        animation-delay: -3s;
    }
    @keyframes animate 
    {
        0%
        {
            transform: rotate(0deg);
        }
        100%
        {
            transform: rotate(360deg);
        }
    }
    .content{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: fit-content;
        width: 400px;
        background: #28292d;
        scale: 0.985;
    }
    .form{
        color: whitesmoke;
    }
    input{
        width: 60%;
        color: whitesmoke;
    }
    .login a{
        color: #45f3ff;
        text-decoration: none;
    }
    .btn button{
        margin: 15px 75px;
        width: 50%;
        font-size: large;
        font-weight: bold;
    }